= content_tag(:p, @event&.primary_location.name, style: "margin: 0;") if @event.location
= content_tag(:p, @event&.address, style: "margin: 0;") if @event.address
= content_tag(:p, @event&.primary_location.phone, style: "margin: 0;") if @event.address