p.mt-8.text-center
  = t("announcements.index.empty", message_type: message_type)
  = " "
  = link_to t("announcements.index.write_one_now"), new_unit_message_path, class: "text-blue-500", data: { turbo_action: "advance" }