- actions = [ "beforeunload@window->message-form#confirmLeave", \
              "turbo:before-fetch-request@document->message-form#confirmLeave" ]

= content_tag(:div, data: { controller: "message-form",
                            message_form_unit_id_value: current_unit.id,
                            action: actions.join(" ") },
                    class: "") do

  = render partial: "messages/form/attachments_form"

  = form_with model: [current_unit, @message], data: { turbo_action: "advance", message_form_target: "form" } do |f|
    = f.hidden_field :cohort_name, data: { message_form_target: "cohortName" }
    = hidden_field_tag :test_mode, "false", id: "test_mode", data: { message_form_target: "testMode" }
    
    section.flex.flex-col.divide-y.text-sm.md:text-base.p-6
      = render partial: "messages/form/from", locals: { f: f }
      = render partial: "messages/form/to", locals: { f: f }
      = render partial: "messages/form/subject", locals: { f: f }
      = render partial: "messages/form/attachments"
      = render partial: "messages/form/body", locals: { f: f }

    = render partial: "messages/form/footer", locals: { f: f }

css:
  trix-toolbar {
    display: none;
  }

  .formatting-active trix-toolbar {
    display: block;
  }

  trix-editor {
    min-height: 10rem;
  }

  trix-editor:empty:not(:focus)::before {
    color: #a8a29e;
  }

  .audience-item.active a {
    background-color: #E66425;
    color: white;
    font-weight: bold;
  }

  input[type='radio'].audience-checkbox:checked ~ span {
    background-color: #E66425;
    color: white;
    font-weight: bold;
  }

  #recipient_list li {
    display: inline-block;
  }

  #recipient_list li:after {
    content: ";\00a0";
  }

  #recipient_list li:last-child:after {
    content: "";
  }

  #recipient_list ul {
    margin: 0.5rem 0.5rem 3rem 0.5rem;
  }

  #recipient_count:empty {
    display: none;
  }

  trix-toolbar .trix-button-group.trix-button-group--file-tools {
    display: none;
  }

  .search-result.contactable {
    cursor: pointer;
  }

  .search-result.not-contactable {
    cursor: not-allowed;
  }

  .search-result.not-contactable .name {
    color: #aaa;
  }

  .search-result.not-contactable .contact-methods {
    color: #aaa;
  }

  @media (prefers-color-scheme: dark) {
    .search-result.selected {
      background: #4d7c0f;
    }    
  }

  .committed {
    display: none;
  }

  #recipients li {
    display: inline-block;
  }


= render partial: "messages/form/recipients"