- return unless event.online && website = event.website.presence

= link_to website, class: "inline-block font-bold text-blue-500 py-2 overflow-x-auto text-ellipsis whitespace-nowrap", target: "_new" do
  = website
  i.fa-solid.fa-arrow-up-right-from-square.ml-1