- event.tags.each do |tag|
  .font-bold.inline-block.whitespace-nowrap.rounded.px-2.py-1.text-rose-700.border.border-rose-700.dark:border-rose-300.mr-1.text-rose-700.dark:text-rose-300.text-xs.hidden.md:inline-block
    i.fa-solid.fa-tag.mr-2
    = tag
    