# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-*

# Ignore all logfiles and tempfiles.
log/*
tmp/*
!log/.keep
!tmp/.keep

# Ignore pidfiles, but keep the directory.
tmp/pids/*
!tmp/pids/
!tmp/pids/.keep

# Ignore uploaded files in development.
storage/*
!storage/.keep

.byebug_history

# Ignore master key for decrypting credentials and more.
config/master.key

# Ignore local javascript files
node_modules
yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore macOS specific files
.DS_Store

# Ignore git related files
.git/*
.gitignore

# Ignore Rails non-application files
coverage/*
features/*
test/*
spec/*

# Ignore Docker files
.dockerignore
Dockerfile

*.pem
