go.scoutplan-local.org {
      reverse_proxy app:3000
      tls /root/certs/go.scoutplan-local.org+1.pem /root/certs/go.scoutplan-local.org+1-key.pem
}

troop123.sites.scoutplan-local.org {
      reverse_proxy app:3000
      tls /root/certs/go.scoutplan-local.org+1.pem /root/certs/go.scoutplan-local.org+1-key.pem
}
