- content_for :body_classes do
  = "members index"

= render partial: 'unit_memberships/partials/index/header'

table.table.table-clickable.table-hover
  thead
    tr
      th = t('members.name')
      th = t('members.parent_guardian')
      th = t('members.children')

  tbody
    = render @unit_memberships

= render partial: 'unit_memberships/partials/index/member_form'

javascript:
  var rows = document.getElementsByClassName('member-row');
  for(const row of rows) {
    row.addEventListener('click', function(elem) {
      var href = this.dataset.href;
      window.location = href;
    });
  }

  // search functionality
  // adapted from https://www.w3schools.com/howto/howto_js_filter_table.asp
  function performNameSearch() {
    var input = document.querySelector('#search');
    var filter = input.value.toUpperCase();

    var rows = document.querySelectorAll('tr.member');
    rows.forEach(function(row) {
      var nameCell = row.querySelector('td.name');
      var name = nameCell.innerText;
      if (filter.length < 0 || name.toUpperCase().indexOf(filter) > -1) {
        row.style.display = 'table-row';
      } else {
        row.style.display = 'none';
      }
    });
  }
