@import "bootstrap";

body {
  font-family: proxima-nova;
}

// pay the mortgage
table {
  @extend .table;

  &.table-clickable {
    @extend .table-hover;

    td {
      cursor: pointer;
    }
  }
}

tr.event {
  td.action {
    a.btn {
      @extend .btn, .btn-outline-secondary, .btn-sm;
      font-size: 0.75rem;
    }

    a {
      font-size: 0.75rem;
    }
  }
}

th.desktop, td.desktop {
  @extend .d-none, .d-lg-table-cell;
}

th.tablet, td.tablet {
  @extend .d-none, .d-md-table-cell;
}
