@import "bootstrap";
@import "trix/dist/trix";
@import "./actiontext.scss";

body {
  font-family: proxima-nova;
}

h1 {
  font-weight: 700;
}

// pay the mortgage
table {
  @extend .table;

  &.table-clickable {
    @extend .table-hover;

    td {
      cursor: pointer;
    }
  }
}

th.desktop, td.desktop {
  @extend .d-none, .d-lg-table-cell;
}

th.tablet, td.tablet {
  @extend .d-none, .d-md-table-cell;
}

th.mobile, td.mobile {
  @extend .d-table-cell, .d-md-none, .d-lg-none, .d-xl-none;
}

.row main {
  @extend .col-md-6;
  @extend .col-lg-7;
  @extend .col-xl-8;
}

.row aside {
  @extend .col-md-6;
  @extend .col-lg-5;
  @extend .col-xl-4;
}

tr.clickable {
  cursor: pointer;
}
