- actions = [ "input->message-form#filterAddressBook", "keydown->message-form#handleKeydown", "blur->message-form#blur" ]

= search_field :recipient_search,
               "",
               id: "recipient_search_query_field",
               autofocus: true,
               class: "ml-1 px-0 bg-transparent border-0 focus:ring-0 w-full grow text-sm md:text-base placeholder-stone-400 dark:placeholder-stone-500",
               autocomplete: "off",
               placeholder: t("messages.form.placeholders.search_recipients"),
               data: { action: actions.join(" "), message_form_target: "queryInput", selectable_list_target: "queryInput" }
