section
  h2.font-bold.mb-2 = "Communication methods"

  .py-1
    = switch( "settings[communication]", "via_email",
              { label:    "Via email",
                checked:  member.contactable_via?(:email) && member.settings(:communication).via_email == "true",
                data:     { profile_form_target: "viaEmailField", action: "change->profile-form#changeSettings" },
                disabled: !member.contactable_via?(:email) },
              "true", "false" )

  .py-1
    = switch( "settings[communication]", "via_sms",
              { label: "Via SMS",
                checked: member.contactable_via?(:sms) && member.settings(:communication).via_sms == "true",
                disabled: !member.contactable_via?(:sms),
                data: { profile_form_target: "viaSmsField", action: "change->profile-form#changeSettings" } },
              "true", "false" )
