section
  .py-1
    = switch(:unit_membership, :roster_display_phone,
              { label: "Show phone number on member roster",
                checked: member.roster_display_phone },
              "true", "false")

  .py-1      
    = switch(:unit_membership, :roster_display_email,
              { label: "Show email address on member roster",
                checked: member.roster_display_email },
              "true", "false")
