- @current_year  ||= now.year
- @current_month ||= now.month
- @days_in_month = Time.days_in_month(@current_month, @current_year)
- current_day ||= 1

table
  - while current_day <= @days_in_month
    - current_day += 1
