/ - event_location = @locations_cache[[event.id, "arrival"]] || @locations_cache[[event.id, "activity"]]

/ - if event_location.present?
/   address
/     address.text-sm.not-italic.text-md
/       - if event.online?
/         i.fa-desktop.fas.text-gray-300.mr-1
/       - else
/         i.fa-location-dot.fas.text-gray-300.mr-1
/         = event_location.display_name

- if event.online
  .link-placeholder.h-5
- elsif location = event.location
  i.fa-location-dot.fas.text-gray-300.mr-1
  = event.location