section.py-4.grid.grid-cols-1.md:grid-cols-3.gap-8.border-t
  .col-span-1
    h2.text-lg Side activity
    p.text-sm.text-sky-700.dark:text-sky-400.hidden.md:block Is there an additional activity that your members need to sign up for?
      If so, you can add it here.

  .col-span-2
    = render partial: "components/switch",
            locals: { checked: @event.includes_activity,
                      label: "Includes activity",
                      object_name: "event",
                      method: "includes_activity",
                      checked_value: "true",
                      unchecked_value: "false",
                      data: { body_class: "event-has-activity" } }

    .mt-4
      = f.label :activity_name, class: "block mb-1"
      = f.text_field :activity_name,
                    id: "activity_name_field",
                    autocomplete: "off",
                    class: "p-2 w-full placeholder-stone-400 disabled:text-stone-300 disabled:placeholder-stone-200 border border-stone-400 rounded",
                    placeholder: "e.g. Rock climbing"

css:
  #activity_fields {
    display: none;
  }

  .event-has-activity #activity_fields {
    display: block;
  }
