= render partial: "events/partials/form/attachment_section",
         locals: { f: f,
            title: "Public attachments",
            description: "Give your members all the details they need to know about this event.",
            collection: @event.attachments.with_all_variant_records }