section.flex.flex-col.gap-2.pb-4.-mt-2
  = f.text_field :title,
    class: "text-xl w-full placeholder-stone-400 border-0 focus:ring-0 p-0 font-medium",
    autocomplete: "off",
    required: true,
    autofocus: true,
    placeholder: t("events.placeholders.title")

  = f.text_field :short_description,
    class: "w-full placeholder-stone-400 border-0 focus:ring-0 p-0 text-sm",
    autocomplete: "off",
    placeholder: t("events.edit.short_description_placeholder")
