.fancy-select(data-controller="fancy-select" data-action="
  keydown.up->fancy-select#moveFocusUp
  keydown.down->fancy-select#moveFocusDown
  keydown.enter->fancy-select#selectFocusedOption
  keydown.esc->fancy-select#closeMenu
  keydown.tab->fancy-select#selectFocusedOption
  keydown.shift->fancy-select#shiftPressed
")
  .hidden
    = f.select :event_category_id,
                @event.unit.event_categories.collect { |c| [ c.name, c.id ] },
                { prompt: t("events.placeholders.category"), selected: @event.event_category_id },
                { class: "border border-stone-300 rounded py-2 bg-white w-full font-bold",
                  required: "A category is required",
                  data: { fancy_select_target: "select" } }

  .relative.w-full
    = text_field :event_category_proxy, :name,
                value: @event&.category&.name,
                placeholder: "Select an event category",
                autocomplete: "off",
                class: "w-full border border-stone-300 rounded bg-white px-3 p-2 placeholder-stone-300 font-bold dark:bg-black",
                data: { "1p-ignore" => "true", fancy_select_target: "text", action: "blur->fancy-select#blur focus->fancy-select#searchFocus keyup->fancy-select#search" }

    .absolute.right-0.top-0.flex.items-center.h-12.px-3.-mt-1.disclosure
      i.fa-solid.fa-chevron-down.fa-fw.text-sm

    .absolute.top-full.w-full.max-h-60.bg-stone-100.z-10.border.border-stone-300.rounded.drop-shadow-lg.overflow-scroll.options
      ul.w-full
        li.unmatched-prompt
          .px-3.py-2 = "A new category will be added"

        - @event.unit.event_categories.order(name: :asc).each do |category|
          - classes = @event.category == category ? " selected focused" : ""
          li.option.w-full.cursor-pointer(class="#{classes} dark:bg-black" data-action="click->fancy-select#makeSelection mouseover->fancy-select#hover" data-text="#{category.name}" data-value="#{category.id}")
            .flex.flex-row.justify-between.items-center.w-full.block.p-2
              div
                .inline-block.w-10.text-center
                  i.fa-solid.fa-fw(style="color: #{category.color}" class="fa-#{category.glyph}")
                = category.name

              div.justify-end.pr-4
                i.fa-solid.fa-check.fa-fw.selection-indicator                


css:
  .unmatched-prompt {
    display:none;
  }

  .unmatched .unmatched-prompt {
    display:block;
  }

  .options {
    display: none;
  }

  .fancy-select.open .options {
    display: block;
  }

  .selection-indicator {
    display: none;
  }

  .options .selected {
    font-weight: bold;
  }

  .options .selected .selection-indicator {
    display: block;
  }

  .options .focused {
    background-color: #E66425;
    color: white;
  }

  .options .focused svg path {
    color: white;
  }


