= content_tag(:button,
    t("events.form.delete_caption"),
    class: "block md:inline-block py-2 text-red-500 hover:text-red-600 font-bold",
    onclick: "if (confirm('#{t("events.form.delete_confirm")}')) { document.querySelector('#delete_event_form').submit(); } else { return false; }")