section.py-4
  = f.label :description, class: "block mb-1 text-sm font-bold tracking-wide uppercase"
  = f.rich_text_area :description, class: "bg-white block border border-stone-300 overflow-auto h-48"