section.py-2
  div(data-controller="event-shift")
    = render partial: "components/switch",
            locals: { checked: @event.shifts?,
                      label: "Time slots",
                      object_name: "event",
                      method: "rsvp_limit",
                      checked_value: "true",
                      unchecked_value: "false",
                      data: { body_class: "event-time-shifts" } }

    #event_shift_fields.mt-4
      ul.list-disc.font-bold#existing_event_shifts(data-event-shift-target="list")
        - @event.event_shifts.each do |shift|
          li.block.py-1
            i.fa-solid.fa-clock.mr-2.text-sky-300
            = shift.name

      .hidden
        = select_tag("event_shifts",
                    nil,
                    id: "event_shifts",
                    name: "event_shifts[]",
                    multiple: true,
                    data: { event_shift_target: "select" } )

      .flex.flex-row.gap-3.items-center.mt-4
        = text_field :event_shift,
                    :name,
                    class: "w-48 bg-white border border-stone-400 rounded p-2 w-full hover:ring-brand-500 placeholder-stone-300 dark:placeholder-stone-500",
                    placeholder: t("events.form.placeholders.shift_name"),
                    data: { event_shift_target: "name" }

        = link_to t("events.form.add_shift"), "#",
                  class: "block font-medium border rounded px-4 py-2 whitespace-nowrap border-stone-500 dark:border-stone-300 text-stone-500 dark:text-stone-300 hover:border-green-500 hover:text-green-500",
                  data: { action: "click->event-shift#add" }