footer.flex.flex-col-reverse.md:flex-row.md:justify-between.py-4.gap-2
  // Save Changes
  = f.submit @event.new_record? ? t("events.new.add_this_event") : t("global.save_changes"),
              class: "block md:inline-block px-4 py-2 font-bold bg-brand-500 hover:bg-brand-600 text-white rounded"
