footer.sticky.bottom-0.py-4.bg-white.dark:bg-stone-900.border-t.border-stone-300.dark:border-stone-500
  = f.submit @event.new_record? ? t("events.new.add_this_event") : t("global.save_changes"),
              class: "block md:inline-block mx-4 md:mx-0 px-6 py-2 font-bold bg-green-600 hover:bg-green-700 text-white rounded"
