- switch_options = { checked: event.limits_headcount?, label: t(".limit_headcount"), data: { action: "change->enable#change" }}

.py-0.field-wrapper.flex.flex-row.gap-2.items-center(data-controller="enable")
  = switch("", :limit_headcount, switch_options, "true", "false")

  = f.text_field :max_total_attendees,
                class: "text-sm w-24 border border-stone-400 dark:border-stone-700 rounded bg-white dark:bg-black p-1 placeholder-stone-300 disabled:text-stone-300 disabled:placeholder-stone-200",
                disabled: !event.limits_headcount?,
                inputmode: :numeric,
                min: 0,
                autocomplete: false,
                data: { enable_target: "input" }