.not-hidden
  = select_tag("event_shifts",
               nil,
               id: "event_shifts",
               multiple: true,
               data: { event_shift_target: "select" } )

.flex.flex-row.gap-3.items-center
  = text_field :event_shift,
              :name,
              class: "bg-white border border-stone-300 rounded p-2 w-full hover:ring-brand-500 placeholder-stone-300",
              placeholder: t("events.form.placeholders.shift_name"),
              data: { event_shift_target: "name" }

  = link_to t("events.form.add_shift"), "#",
            class: "block font-bold border rounded px-4 py-2 whitespace-nowrap border-stone-500 text-stone-500 hover:border-stone-600 hover:text-stone-600",
            data: { action: "click->event-shift#add" }