= turbo_stream.update "organize_category_accepted" do
  = render partial:    "events/partials/rsvps/accepted_rsvp",
           collection: @event.rsvps.accepted.ordered,
           as:         :rsvp,
           layout:     "events/partials/rsvps/organize_entry"