| RSVPs for #{@event.title} on #{@event.starts_at.strftime('%b %-d')} are closing soon. Can you visit #{magic_url_for(@recipient, rsvp_unit_event_url(@unit, @event))} and let us know if you're planning to attend or not?
