p.mt-12.text-center
  | No #{@view} news items.
  |&nbsp;
  = link_to \
    new_unit_news_item_path(@unit),
    class: "no-underline text-red-500 hover:text-red-600",
    data: { turbo_action: "advance", turbo_frame: "main" } \
    do
    
    = t("news_items.index.write_one_now")