- content_for :body_classes do
  = @view

.max-w-3xl.mx-auto
  h4.mb-0.text-black = @view.titleize
  - if @unit.settings(:communication).weekly_digest
    .text-sm.text-gray-400 = t('newsletter.next_sends_at', next_newsletter_datetime: @schedule.to_s)

  #news_items_container.mt-11
    = render partial: 'news_items'

.modal#modal_wrapper

scss:
  article.news-item {
    &:hover {
      .news-item-actions {
        display: inline-block;
      }
    }

    .edit-mode {
      display: none;
    }
  }

  article.news-item.editing {
    .display-mode {
      display: none;
    }

    .edit-mode {
      display: inline-block;
    }
  }

javascript:
  function clickItemEditLinkForId(id) {
    selector = '#edit_item_' + id + '_link';
    var elem = document.querySelector(selector);
    elem.click();
  }