default: &default
  adapter: postgresql
  encoding: unicode
  host: <%= ENV.fetch('DATABASE_HOST', 'localhost') %>
  username: <%= ENV.fetch('DATABASE_USER', ENV['USER']) %>
  password: <%= ENV.fetch('DATABASE_PASSWORD', '') %>
  port: 5432
  pool: 5

development:
  <<: *default
  database: scoutplan_development

test:
  <<: *default
  database: scoutplan_test

production:
  <<: *default
  port: <%= ENV['DATABASE_PORT'] %>