# PostgreSQL is required due to use of jsonb, array columns, uuid, and unaccent extension
default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS", 5) %>

development:
  primary:
    <<: *default
    database: scoutplan_development

test:
  primary:
    <<: *default
    database: scoutplan_test

production:
  primary:
    <<: *default
    url: <%= ENV["DATABASE_URL"] %>
