li
  = label_tag "tag_#{tag.id}", class: "search-item flex flex-row items-center gap-2 px-2 py-2 hover:bg-paper-100 rounded cursor-pointer", for: "tag_#{tag_name}" do
    / checkbox leads, as a conventional list of checkboxes does
    = check_box_tag "#{taggable_type}[tag_list][]", tag_name, checked, id: "#{taggable_type}_tag_#{tag_name.parameterize.underscore}", class: "shrink-0 rounded border-paper-400 text-brand-500 focus:ring-brand-500", data: { action: "change->checkable-list#change", tag_id: tag_name.parameterize.underscore, value: tag_name.parameterize.underscore }

    i.fa-light.fa-tag.fa-fw.text-paper-500
    = tag_name
