= turbo_stream.append "tag_list", partial: "events/tag_option", locals: { tag_name: @tag_name, checked: true }
= turbo_stream.append "tag_tag_field", partial: "events/tag_label", locals: { tag_name: @tag_name, visible: true }