- label ||= "Communication preferences"
- object_name ||= "settings[communication]"

div.pt-4
  = label_tag :communication_preferences, label, class: "block mb-2 font-bold"

  .py-1
    = render partial: "components/switch",
             locals: { object_name: object_name,
                       label: "Via email",
                       checked: member.contactable?(via: :email) && member.settings(:communication).via_email == "true",
                       disabled: !member.contactable?(via: :email),
                       method: "via_email",
                       checked_value: "true",
                       unchecked_value: "false" }

  .py-1
    = render partial: "components/switch",
             locals: { object_name: object_name,
                       label: "Via SMS",
                       checked: member.contactable?(via: :sms) && member.settings(:communication).via_sms == "true",
                       disabled: !member.contactable?(via: :sms),
                       method: "via_sms",
                       checked_value: "true",
                       unchecked_value: "false" }

div.pt-4
    = render partial: "components/switch",
             locals: { object_name: object_name,
                       label: "Receive event invitations via email 14 days before event",
                       checked: member.settings(:communication).receives_event_invitations,
                       method: "receives_event_invitations",
                       checked_value: "true",
                       unchecked_value: "false" }