- return if @photos.any?

p.block.text-center.my-12.font-bold
  | #{current_unit.name} hasn't added any photos yet. 
  = link_to "Upload some now!", new_unit_photo_path(current_unit), class: "text-blue-500 underline"