- return unless @event.cancelled? || @event.draft?

.absolute.z-10.transform.-rotate-45.text-huge.font-bold.text-blue-500.border-2.p-6.rounded-xl.border-blue-500.uppercase.opacity-40.tracking-widest.-translate-x-1/2(style="left:50%;top:20%;")
  = t("index.events.#{@event.status}")
