<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You're Invited!</h1>
    <p><%= link_to "RSVP Now", @url %></p>
  </body>
</html>
