= render partial: "header", formats: [ :html ]

- @event_rsvp_groups.each do |group|
  = render partial: "event_rsvp_group", locals: { group: group }

= render partial: "stats", formats: [ :html ]
= render partial: "footer", formats: [ :html ]