- @documents.each do |document|
  = turbo_stream.replace "#{dom_id(document)}", partial: "units/documents/document_list_item", locals: { document: document, can_delete: @can_delete, checked: true }

= turbo_stream.update "#selection_toolbar_items" do
  = render partial: "unit_tags", locals: { unit: current_unit, can_delete: @can_delete }  