- return unless @target_membership.status_inactive?

.absolute.transform.-rotate-45.text-5xl.font-bold.text-red-500.uppercase.text-opacity-30.tracking-widest.z-50.-translate-x-1/2.-translate-y-1/2(style="left:50%;top:50%;font-family:courier,serif;")
  = 'Inactive'