/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require trix
 */

 trix-editor:empty:not(:focus)::before {
  color: #E7E5E4;
}

.trix-content a {
  text-decoration: underline;
  color: rgb(230, 100, 37);
}

html:not(.fontawesome-i2svg-complete) .icon-substitute {
  display: inherit;
}

html.fontawesome-i2svg-complete .icon-substitute {
  display: none;
}

a.external-link {
  color: #2563eb;
}

a.external-link:hover {
  color: #1d4ed8;
}

a.external-link:after {
  font-family: "Font Awesome 6 Pro";
  font-style: normal;
  content: "\f08e";
  margin-left: 0.5rem;
  font-weight: normal;
}