.start-day, .days, .title {
  width: 1%;
  white-space: nowrap; }

.event-month-boundary {
  font-weight: 700; }

.event-row {
  display: table-row;
  transition: height 2s ease; }
  .event-row td a {
    display: inline-block;
    width: 100%; }

.event-past, .event-cancelled {
  display: none;
}

.event-past .event-title {
  text-decoration: strikethrough;
}

.event-draft .event-title:after {
  content: "Draft";
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(14, 165, 233);
  margin-left: 0.75rem;
  line-height: 1.0;
  padding: 3px 6px;
  border: 1px solid rgb(14, 165, 233);
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  letter-spacing: 1px;
}

.menu-glyph {
  display: inline-block;
  width: 2rem;
  text-align: center; }

.menu-glyph-wrapper {
  display: none; }

.filter-status {
  display: none;
  margin-top: -12px; }

body.showing-cancelled-events .event-cancelled:not(.event-past) {
  display: table-row; }

body.showing-cancelled-events #show-cancelled-events-link .menu-glyph-wrapper {
  display: inline-block; }

body.showing-as-list #show_as_list .menu-glyph-wrapper {
  display: inline-block; }

body.showing-as-calendar #show_as_calendar .menu-glyph-wrapper {
  display: inline-block; }

body.showing-only-rsvp-events .event-row:not(.event-rsvp) {
  display: none; }

body.showing-only-rsvp-events #show-only-rsvp-events-link .menu-glyph-wrapper {
  display: inline-block; }

body.showing-only-rsvp-events .filter-status-only-rsvps {
  display: inline-block; }

body.showing-cancelled-events .filter-status-cancelled {
  display: inline-block; }

#bulk_publish_button_wrapper {
  display: none; }

body.showing-only-draft-events article:not(.event-draft) {
  display: none;
}

body.showing-only-draft-event .hide-bulk-publish {
  display: none !important;
}

body.showing-only-draft-events .event-row.event-draft {
  display: block; }  

body.showing-only-draft-events .event-row.event-draft.event-past {
  display: none; }  

body.showing-only-draft-events #show-only-draft-events-link .menu-glyph-wrapper {
  display: inline-block; }


/* bulk event selection */

.bulk-selection {
  display: none;
}

body.showing-only-draft-events .bulk-selection {
  display: inherit;
}

body.showing-only-draft-events article.event time {
  padding-left: 3rem;
}

body.showing-only-draft-events #bulk_publish_button_wrapper {
  display: inline-block; }

body.showing-only-draft-events #regular_options {
  display: none; }

/* showing past events */
section.event-month-past {
  display: none;
}

section.event-month .event-year {
  display: none;
}

section.event-month:first-of-type .event-year {
  display: block;
}

section.event-month.event-month-current-0 .event-year {
  display: block;
}

section.event-month.month_1 .event-year {
  display: block;
}

body.showing-past-events section.event-month-past {
  display: block;
}

body.showing-past-events section.event-month.event-month-current-0 .event-year {
  display: none;
}

body.showing-past-events .filter-status-past-events {
  display: inline-block;
}

body.showing-past-events.showing-cancelled-events .event-past.event-cancelled {
  display: block;
}

body.showing-past-events .event-past:not(.event-cancelled) {
  display: block;
}

#hide_past_events_caption {
  display: none;
}

body.showing-past-events #show_past_events_caption {
  display: none;
}

body.showing-past-events #hide_past_events_caption {
  display: block;
}

body.showing-future-events .event-future {
  display: table-row; }

body.showing-future-events #show-future-events-wrapper {
  display: none; }

.event-rsvp-link {
  z-index: 1000; }

.table tr td.month {
  padding-top: 2rem;
  font-weight: bold; }

tr.event td.glyph {
  text-align: center; }

.action {
  text-align: right; }

input[type="date"].error {
  background-color: #ffffcc;
  animation: shake 0.6s 0s; }

.table.flush-top .table-row:first-child .table-cell {
  padding-top: 0 !important; }

.table.flush-left .table-cell:first-child {
  padding-left: 0 !important; }

.table.flush-right .table-cell:last-child {
  padding-right: 0 !important; }

.table.flush-table .table-row-group .table-row:first-child .table-cell {
  padding-top: 0 !important; }

.table.flush-table .table-row-group .table-cell:first-child {
  padding-left: 0 !important; }

.table.flush-table .table-row-group .table-cell:last-child {
  padding-right: 0 !important; }

tr.event td a.row-link {
  color: #666; }

tr.event-past td a.row-link {
  color: #aaa; }

tr:hover td a.row-link {
  color: #000; }

/* a.event:hover {
  background: #f5f5f4;
} */

body.showing-only-draft-events a:hover {
  background: none;
}

.attention {
  animation: pulsate 2s ease-out 3; }

@-webkit-keyframes pulsate {
  0% {
    box-shadow: 0 0 0 #fbbf24; }
  50% {
    box-shadow: 0 0 17px #fbbf24; }
  100% {
    box-shadow: 0 0 0 #fbbf24; } }

.tab-label.selected {
  border-color: black;
  color: black;
  font-weight: 600; }
  .tab-label.selected:hover {
    color: black;
    cursor: default; }

.dropdown button i {
  transform: rotate(0deg);
  transition: transform 150ms ease; }

.dropdown .dropdown-menu {
  display: none; }

.dropdown-button-chevron svg {
  transform: rotate(0deg);
  transition: transform 150ms ease; }

.dropdown.menu-open button svg {
  transform: rotate(180deg);
  transition: transform 150ms ease; }

.dropdown.menu-open .dropdown-button-chevron svg {
  transform: rotate(180deg);
  transition: transform 150ms ease; }

.dropdown.menu-open .dropdown-menu {
  display: block; }

/* lil' arrow on bottom of tooltips */
.tooltip::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent; }

body.modal-open main {
  overflow: hidden; 
}
/* end */