- content_for :body_classes do
  = "plans index"

h1 Planner

.scroller.py-2
  .d-flex.flex-row.flex-nowrap(style="margin: 30px;")
    - @events.each do |event|
      .card.card-body.event-card(class="event-#{event.category.name.parameterize}")
        h1.card-title
          .month = event.starts_at.strftime('%b')
          = event.starts_at.strftime('%-d')
        h3 = event.title
        p = event.short_description

        - if event.category.name == 'Troop Meeting'
          ul.event-activities(data-controller="sortable" data-sortable-animation-value="150" data-sortable-group-value="meetings" data-sortable-to-id="#{event.id}")
            li.event-activity(data-sortable-update-url="#{event_activity_path(1)}") = "Opening Ceremony"
            li.event-activity(data-sortable-update-url="#{event_activity_path(1)}") = "Camp Planning"
            li.event-activity(data-sortable-update-url="#{event_activity_path(1)}") = "Game"
            li.event-activity(data-sortable-update-url="#{event_activity_path(1)}") = "Closing Ceremony"
          = link_to '#', class: 'add-activity-link' do
            i.fa-plus.far
            |&nbsp;
            |Add an Activity

scss:
  .add-activity-link {
    text-decoration: none;
    color: #888;
  }

  .card.event-card {
    background: #f3f3f3;
  }

  li.event-activity {
    border: 1px solid #ddd;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: move;
    background: #fff;

    h3 {
      margin-bottom: 1rem;      
    }
  }

  ul.event-activities {
    list-style-type: none;
    padding: 0;
  }
  
  .scroller {
    position: absolute;
    left: 0;
    right: 0;
    overflow-x: auto;

    .card {
      min-width: 18rem;
      min-height: 25rem;
      margin-right: 1rem;
    }

    .card-title .month {
      font-size: 1rem;
      text-transform: uppercase;
    }

    h1.card-title {
      font-size: 5rem;
    }

    .card.event-camping-trip {
      min-width: 9rem;
      background-color: darkolivegreen;
      color: white;
      margin-left: -1.25rem;
      margin-right: 2rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      h3 {
        font-size: 1rem;
      }
    }

    .card.event-no-meeting {
      color: #aaa;
    }
  }

css:
  .card.event-troop-meeting h1 {
    color: #{ @unit.planner.event_category_for(:camping_trip)&.color || '#333' };
  }
