= turbo_frame_tag "main"
  header.w-full.px-16.py-8
    h1.text-4xl.font-medium.mx-2.text-center
      = t("planner.title", unit: current_unit.name)

    .category-filter.ml-auto.hidden
      = check_box_tag :show_meetings
      = check_box_tag :show_activities

  .w-full
    .relative.flex(data-controller="paged-scroll")
      .scrollable.flex.overflow-x-scroll.pb-6(data-paged-scroll-target="scrollable")
        .flex.flex-nowrap.px-12.md:px-16
          = render partial: "event_month", collection: @events.group_by{ |e| [e.starts_at.year, e.starts_at.month] }
          / = render partial: "event", collection: @events

      // left scroll button
      = link_to "#",
        class: "text-stone-100 bg-brand-500 bg-opacity-75 block absolute left-0 flex items-center justify-center \
                hover:bg-opacity-100 \
                text-2xl h-24 px-4 \
                md:text-5xl md:h-36 md:px-4",
        data: { action: "paged-scroll#scrollLeft" } do
          i.fas.fa-chevron-left

      // right scroll button
      = link_to "#",
        class: "text-stone-100 bg-brand-500 bg-opacity-75 block absolute right-0 flex items-center justify-center \
                hover:bg-opacity-100 \
                text-2xl h-24 px-4 \
                md:text-5xl md:h-36 md:px-4",
        data: { action: "paged-scroll#scrollRight" } do
          i.fas.fa-chevron-right

  = turbo_stream.update "page_title" do
    = t("planner.title", unit: current_unit.name)          

  javascript:
    document.addEventListener("turbo:load", () => {
      const scrollable = document.querySelector(".scrollable");
      const firstFutureEvent = document.querySelectorAll(".event-future")[0];
      if (firstFutureEvent) { scrollable.scrollLeft = scrollable.scrollWidth * 0.3; }
    });

  scss:
    main {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .scroller {
      overflow-x: scroll;
      max-width: 100%;

      .card {
        min-width: 18rem;
        min-height: 25rem;
        margin-right: 1rem;
      }

      .card-title .month {
        font-size: 1rem;
        text-transform: uppercase;
      }

      h1.card-title {
        font-size: 5rem;
      }

      .card.event-camping-trip {

      }

      .card.event-no-meeting {
        color: #aaa;
      }
    }

    .add-activity-link {
      text-decoration: none;
      color: #666;
      border: none;
      background: none;
    }

    .card.event-card {
      background: #f6f6f6;
    }

    li.event-activity {
      display: block;
      cursor: default;
      stone-100-space: nowrap;

      .sort-grip {
        display: inline-block;
        width: 1.2rem;
        cursor: move;      
      }

      .activity-title {
        display: inline;
        overflow-x: hidden;
        stone-100-space: nowrap;
      }

      h3 {
        margin-bottom: 1rem;      
      }

      .activity-action-link {
        display: none;
        color: #888;
      }

      &:hover {
        .activity-action-link {
          display: inline;
        }
      }
    }

    ul.event-activities {
      list-style-type: none;
      padding: 0;
    }

  css:
    .card.event-troop-meeting h1 {
      color: #{ current_unit.planner.event_category_for(:camping_trip)&.color || '#333' };
    }

    .scrollable {
      scroll-behavior: smooth;
    }