// these will eventually be moved to a stylesheet, but for now
// we want quick reloads

scss:
  .bulk-selection {
    display: none;
  }

  .start-day, .days, .title {
    width: 1%;
    white-space: nowrap;
  }

  .event-month-boundary {
    font-weight: 700;
  }

  tr.event-row {
    display: table-row;
    transition: height 2s ease;
  
    td {
      a {
        display: inline-block;
        width: 100%;
      }
    }
  }

  tr.event-past, tr.event-cancelled, tr.event-future {
    display: none;
  }

  .menu-glyph {
    display: inline-block;
    width: 2rem;
  }

  .menu-glyph-wrapper {
    display: none;
  }

  .filter-status {
    display: none;
    margin-top: -12px;
  }

  body.showing-cancelled-events {
    .event-cancelled:not(.event-past) {
      display: table-row;
    }

    #show-cancelled-events-link {
      .menu-glyph-wrapper {
        display: inline-block;
      }
    }
  }

  body.showing-only-rsvp-events {
    .event-row:not(.event-rsvp) {
      display: none;
    }

    #show-only-rsvp-events-link {
      .menu-glyph-wrapper {
        display: inline-block;
      }
    }

    .filter-status-only-rsvps {
      display: block;
    }
  }

  // Draft events / bulk publish

  table-cell.bulk-selection {
    display: none;
  }

  #bulk_publish_button_wrapper {
    display: none;
  }

  body.showing-only-draft-events {
    .event-row {
      display: none;
    }

    #show-only-draft-events-link {
      .menu-glyph-wrapper {
        display: inline-block;
      }
    }

    .table-cell.bulk-selection {
      display: table-cell;
    }

    .table.bulk-selection {
      display: table;
    }

    #bulk_publish_button_wrapper {
      display: inline-block;
    }

    #add_event_button_wrapper {
      display: none;
    }
  }

  body.showing-past-events.showing-cancelled-events {
    .event-past.event-cancelled {
      display: table-row;
    }
  }

  body.showing-past-events {
    .event-past:not(.event-cancelled) {
      display: table-row;
    }

    #show-past-events-link {
      .menu-glyph-wrapper {
        display: inline-block;
      }
    }
  }

  body.showing-future-events {
    .event-future {
      display: table-row;
    }

    #show-future-events-wrapper {
      display: none;
    }
  }

  .event-rsvp-link {
    z-index: 1000;
  }

  .table tr td.month {
    padding-top: 2rem;
    font-weight: bold;
  }

  tr.event {
    td.glyph {
      text-align: center;
    }
  }

  .action {
    text-align: right;
  }

  input[type="date"].error {
    background-color: #ffffcc;
    animation: shake 0.6s 0s;
  }

  .table.flush-top { 
    .table-row:first-child {
      .table-cell {
        padding-top: 0 !important;
      }
    }
  }

  .table.flush-left {
    .table-cell:first-child {
      padding-left: 0 !important;
    }
  }

  .table.flush-right {
    .table-cell:last-child {
      padding-right: 0 !important;
    }
  }

  .table.flush-table {
    .table-row-group {
      .table-row:first-child {
        .table-cell {
          padding-top: 0 !important;
        }
      }

      .table-cell:first-child {
        padding-left: 0 !important;
      }

      .table-cell:last-child {
        padding-right: 0 !important;
      }    
    }
  }

  tr.event td {
    a.row-link {
      color: #666;
    }
  }

  tr.event-past td {
    a.row-link {
      color: #aaa;
    }
  }

  tr.event-row.event-draft {
    td a.row-link {
      font-weight: 800;
    }
  }

  tr:hover td {
    a.row-link {
      color: #000;
    }
  }

  .attention {
    animation: pulsate 2s ease-out 3;    
  }

  @-webkit-keyframes pulsate {
    0%   { box-shadow: 0 0 0 rgb(251, 191, 36); }
    50%  { box-shadow: 0 0 17px rgb(251, 191, 36); }
    100% { box-shadow: 0 0 0 rgb(251, 191, 36); }
  }

  .tab-label.selected {
    border-color: black;
    color: black;
    font-weight: 600;

    &:hover {
      color: black;
      cursor: default;
    }
  }

  .dropdown {
    button i {
      transform: rotate(0deg);
      transition: transform 150ms ease;
    }

    .dropdown-menu {
      display: none;
    }
  }

  .dropdown.menu-open {
    button i {
      transform: rotate(180deg);
      transition: transform 150ms ease;
    }

    .dropdown-menu {
      display: block;
    }
  } 

javascript:
  document.addEventListener('click', function(event) {
    var openMenus = document.querySelectorAll('.menu-open');
    if (openMenus.length == 0) {
      return;
    }
    openMenus.forEach(function(elem) {
      if (elem.contains(event.target)) {
        // clicked in the menu
      } else {
        elem.classList.remove('menu-open');
      }
    });
  });

  document.querySelectorAll('.dropdown a').forEach(function(linkElem) {
    linkElem.addEventListener('click', function(event) {
      document.querySelectorAll('.dropdown').forEach(function(elem) {
        elem.classList.remove('menu-open');
      })
    });
  });