= turbo_stream.update "location_dropdowns" do
  = render partial: "events/partials/form/location_dropdowns", locals: { unit: @unit, event: @event }

// https://dev.to/davidcolbyatx/turbo-streams-on-rails-1cf0  