doctype html
html
  head
    title = ((@page_title || []).reverse + [t('app_name')]).join(' · ')
    meta name="viewport" content="width=device-width,initial-scale=1"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = stylesheet_link_tag 'tailwind', 'data-turbo-track': 'reload'
    = stylesheet_link_tag "https://use.typekit.net/#{ ENV['ADOBE_FONT_KIT_ID'] }.css"
    = javascript_include_tag "https://kit.fontawesome.com/#{ ENV['FONT_AWESOME_KIT_ID'] }.js", crossorigin: 'anonymous'
    = javascript_importmap_tags
    = yield :head

  body(class="#{controller_name} #{action_name}")
    // = render partial: 'layouts/partials/notices'

    .flex
      #main_nav.hidden.lg:block
        // transparent black overlay
        .fixed.z-10.inset-0.bg-black.opacity-30.lg:hidden

        // actual <nav> element declaration. There are lots of classes here
        // so we take our time
        nav(class="
          z-20
          absolute pl-8 pr-2 py-8 z-0
          w-full flex-shrink-0
          bg-white
          lg:w-80 lg:block lg:h-screen lg:relative lg:z-0 lg:bg-gray-100
        ")

          // content of the nav
          = render partial: 'layouts/nav'
      
      main.relative.h-screen.flex-grow.px-6.md:px-16.overflow-y-scroll
        = yield

  javascript:
    function setElemDisplay(elem, show) {
      var elem = document.querySelector(elem);
      elem.style.display = show ? 'block' : 'none';
    }

  scss:
    .submit-conjunction {
      display: inline;
      padding: 0 1rem;
    }

    nav.navbar {
      margin-bottom: 30px;
    }

    .navbar-dark .navbar-nav .nav-link {
      color: #fff;
    }

    @mixin active-nav-link {
      font-weight: 800;
      cursor: default;

      &:hover {
        color: #fff;
      }
    }

    h1 .subtitle {
      text-transform: uppercase;
      font-size: 50%;
      font-weight: 400;
      letter-spacing: 2px;
    }

    body.events.index {
      #nav_link_events {
        @include active-nav-link;
      }
    }

    body.members.index {
      #nav_link_members {
        @include active-nav-link;
      }
    }

    body.plans.index {
      #nav_link_plans {
        @include active-nav-link;
      }
    }

    body.news_items.index.drafts {
      #nav_link_messaging {
        @include active-nav-link;
      }

      li#main_nav_item_newsletter_drafts a {
        @apply bg-gray-200;
        background: #e8e8e8;
      }

      li#main_nav_item_newsletter {
        font-weight: 800;
      }
    }

    body.news_items.index.queued {
      li#main_nav_item_newsletter_queued a {
        @apply bg-gray-200;
        background: #e8e8e8;
      }

      li#main_nav_item_newsletter {
        font-weight: 800;
      }      
    }

    body.news_items.index.sent {
      li#main_nav_item_newsletter_sent a {
        @apply bg-gray-200;
        background: #e8e8e8;
      }

      li#main_nav_item_newsletter {
        font-weight: 800;
      }      
    }

    body.plans.index {
      li#main_nav_item_planner {
        @apply bg-gray-200;
        background: #e8e8e8;        
      }
    }

    nav.unit-id {
      color: #888;
      text-transform: uppercase;
      font-size: 90%;
      letter-spacing: 1px;
      font-weight: 600;
    }

    h1 {
      font-weight: 400;
    }
