doctype html
html.scroll-smooth
  head
    title#page_title = yield :title
    
    meta name="viewport" content="width=device-width,initial-scale=1"
    
    = csrf_meta_tags
    
    = csp_meta_tag
    
    = favicon_link_tag "favicon.ico"

    = stylesheet_link_tag "tailwind", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "https://rsms.me/inter/inter.css"
    = stylesheet_link_tag "https://api.mapbox.com/mapbox-gl-js/v3.5.1/mapbox-gl.css"

    = javascript_importmap_tags
    
    = javascript_include_tag "https://kit.fontawesome.com/#{ ENV['FONT_AWESOME_KIT_ID'] }.js", crossorigin: "anonymous"
    = javascript_include_tag "main"
    = javascript_include_tag "https://api.mapbox.com/mapbox-gl-js/v3.5.1/mapbox-gl.js"

    link(rel="manifest" crossorigin="use-credentials" href="/manifest.json")

    = yield :head

  body(class="has-[section[role='dialog']]:background-green-500 dark:bg-stone-900 dark:text-stone-200 text-stone-900 group/controller #{controller_name.gsub('_', '-')} #{action_name} #{yield :body_classes} h-full group/sidebar sidebar-open")
    .flex.flex-row.h-full
      aside.z-20.flex.shrink-0.w-80.bg-stone-50.h-lvh.transition-all.p-3.z-10.-ml-80(data-controller="sidebar" class="group-[.sidebar-open]/sidebar:ml-0")
        = render partial: "layouts/nav"

      main.z-10.w-full.h-lvh.flex-grow.overflow-y-auto
        = render partial: "layouts/flash"
        = render partial: "layouts/password_prompt"
        = turbo_frame_tag :main
          = yield

    footer
      /!  CI #{ENV["GITHUB_RUN_NUMBER"]}

    = render partial: "search/overlay"
    = turbo_frame_tag :modal
  
  - content_for :title do
    = (@page_title || []).reverse.join(" · ")
    
  javascript:
    function setElemDisplay(elem, show) {
      var elem = document.querySelector(elem);
      elem.style.display = show ? 'block' : 'none';
    }

    document.documentElement.addEventListener("turbo:load", function(event) {
      document.body.classList.remove("showing-mobile-menu");
    });

  scss:
    .submit-conjunction {
      display: inline;
      padding: 0 1rem;
    }

    nav.navbar {
      margin-bottom: 30px;
    }

    .navbar-dark .navbar-nav .nav-link {
      color: #fff;
    }

    @mixin active-nav-link {
      font-weight: 800;
      cursor: default;

      &:hover {
        color: #fff;
      }
    }

    h1 .subtitle {
      text-transform: uppercase;
      font-size: 50%;
      font-weight: 400;
      letter-spacing: 2px;
    }

    nav.unit-id {
      color: #888;
      text-transform: uppercase;
      font-size: 90%;
      letter-spacing: 1px;
      font-weight: 600;
    }

    h1 {
      font-weight: 400;
    }

    html:has(section[role="dialog"][data-open="true"]) {
      overflow: hidden;
    }    

  /! Current member id: #{current_member&.id}
  /! Current unit id: #{current_unit&.id}
  /! Current user id: #{current_user.id}