doctype html
html
  head
    title = ((@page_title || []).reverse + [t('app_name')]).join(' · ')
    meta name="viewport" content="width=device-width,initial-scale=1"
    = csrf_meta_tags
    = csp_meta_tag
    / = stylesheet_link_tag "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag 'tailwind', 'data-turbo-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "https://use.typekit.net/#{ ENV['ADOBE_FONT_KIT_ID'] }.css"
    = stylesheet_link_tag 'https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag "https://kit.fontawesome.com/#{ ENV['FONT_AWESOME_KIT_ID'] }.js", crossorigin: 'anonymous'
    = javascript_include_tag 'https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'
    = javascript_include_tag 'https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js'
    = yield :head

  body(class="#{controller_name} #{action_name} #{ yield :body_classes }")
    = render partial: 'layouts/partials/notices'
    = render 'layouts/partials/header'

    .flex
      nav.relative.flex-shrink-0.bg-gray-100.h-screen.pl-8.pr-2.pb-8.py-8.w-80#nav_side
        .h-16
        = render partial: 'news_items/nav'
      
      main.h-screen.flex-grow.py-8.px-12.overflow-y-scroll
        .h-16
        = yield

  javascript:
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    tooltipList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Tooltip(popoverTriggerEl);
    });

  scss:
    .submit-conjunction {
      display: inline;
      padding: 0 1rem;
    }

    nav.navbar {
      margin-bottom: 30px;
    }

    .navbar-dark .navbar-nav .nav-link {
      color: #fff;
    }

    @mixin active-nav-link {
      font-weight: 800;
      cursor: default;

      &:hover {
        color: #fff;
      }
    }

    h1 .subtitle {
      text-transform: uppercase;
      font-size: 50%;
      font-weight: 400;
      letter-spacing: 2px;
    }

    body.events.index {
      #nav_link_events {
        @include active-nav-link;
      }
    }

    body.members.index {
      #nav_link_members {
        @include active-nav-link;
      }
    }

    body.plans.index {
      #nav_link_plans {
        @include active-nav-link;
      }
    }

    body.news_items.index.drafts {
      #nav_link_messaging {
        @include active-nav-link;
      }

      li#main_nav_item_newsletter_drafts a {
        @apply bg-gray-200;
        background: #e8e8e8;
      }

      li#main_nav_item_newsletter {
        font-weight: 800;
      }
    }

    body.news_items.index.queued {
      li#main_nav_item_newsletter_queued a {
        @apply bg-gray-200;
        background: #e8e8e8;
      }

      li#main_nav_item_newsletter {
        font-weight: 800;
      }      
    }

    body.news_items.index.sent {
      li#main_nav_item_newsletter_sent a {
        @apply bg-gray-200;
        background: #e8e8e8;
      }

      li#main_nav_item_newsletter {
        font-weight: 800;
      }      
    }

    body.plans.index {
      li#main_nav_item_planner {
        @apply bg-gray-200;
        background: #e8e8e8;        
      }
    }

    nav.unit-id {
      color: #888;
      text-transform: uppercase;
      font-size: 90%;
      letter-spacing: 1px;
      font-weight: 600;
    }

    h1 {
      font-weight: 400;
    }
