doctype html
html(style="height:100%;")
  head

  body(style="font-family: sans-serif; color: #57534e; height:100%;")
    table(style="width: 500px; line-height: 110%; background:#F5F5F4; margin:0 auto; height:100%; table-layout:fixed;")
      tr
        td(valign="top")
          table(style="width: 100%;")
            - if @unit&.logo&.attached?
              tr
                td(style="padding-top: 30px;" valign="top" align="center")
                  = link_to root_url, style: "display:block;" do
                    = image_tag "data:image/#{@unit&.logo.filename.extension};base64,#{Base64.encode64(@unit.logo.blob.download)}",
                                style: "width:80%;max-height:150px;width:auto;text-decoration:none;color:rgb(255,255,255,1.0);"

            tr
              td(style="padding: 30px; line-height: 1.4; valign:top;")
                = yield

  css:
    body {
      color: #333;
    }

    .button {
      border-radius: 0.25rem;
      padding: 0.75rem 2rem;
      background: #ddd;
      color: #333;
      text-decoration: none;
      font-weight: bold;
      line-height: 1.0;
    }

    .button:hover {
      background: #ccc;
    }

    .button-green {
      background: #65a30d;
      color: #f7fee7;
    }

    .button-green:hover {
      background: #4d7c0f;
    }

    .text-lg {
      font-size: 110%;
    }

    dt {
      font-weight: bold;
      margin-top: 1rem;
    }

    dd {
      margin-left: 0;
    }

    .button-rsvp {
      background-color: #fbbf24;
      color: rgb(133 77 14);
    }

    .button-rsvp:hover {
      background-color: #eab308;
      color: #78350f;
    }