
// https://blog.corsego.com/fontawesome-importmaps-rails7

doctype html
html
  head
    title = "Scoutplan"
    = stylesheet_link_tag "https://pro.fontawesome.com/releases/v5.15.4/css/all.css", integrity: "sha384-rqn26AG5Pj86AF4SO72RK5fyefcQ/x32DNQfChxWvbXIyXFePlEktwD18fEz+kQU", crossorigin: "anonymous"
    = wicked_pdf_stylesheet_link_tag "tailwind"

  body
    = yield

css:
  body {
    font-size: 14px;
    font-family: 'Open Sans';
  }

  .dates {
    font-size: 1.25rem;
    font-weight: 600;
    white-space: nowrap;
  }

  .days {
    font-weight: bold;
    white-space: nowrap;
    text-transform: uppercase;
    color: #888;
  }

  footer {
    font-weight: 600;
    color: #888;
  }

  .month-cell {
    padding: 6px;
    width: 33%;
    padding-bottom: 12px;
  }

  .month-cell:first-child {
    padding-left: 0;
  }

  .month-cell:last-child {
    padding-right: 0;
  }

  .flex {
    display: flex;
  }

  .flex-row {
    flex-direction: row;
  }

  .gap-4 {
    gap: 1rem;
  }